.operation-box {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
  opacity: 0; 
  animation: fadeIn 2s ease-in-out forwards;
  transition: transform 0.3s, opacity 0.3s, color 0.3s;
}

.operation-box:hover {
  transform: scale(1.1);
  color: aliceblue;
}

.operation-box-icon {
  font-size: 10rem;
}

.operation-box:nth-child(1) { animation-delay: 0.6s; }
.operation-box:nth-child(2) { animation-delay: 0.8s; }
.operation-box:nth-child(3) { animation-delay: 1s; }
.operation-box:nth-child(4) { animation-delay: 1.2s; }
.operation-box:nth-child(5) { animation-delay: 1.4s; }
.operation-box:nth-child(6) { animation-delay: 1.6s; }
