# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Code Coverage
.nyc_output
coverage
*.lcov

# Playwright
/playwright/.auth/

#Jenkins
Jenkinsfile
JENKINS_DASHBOARD_INTEGRATION.md
JENKINS_FREESTYLE_SETUP.md
JENKINS_QUICK_SETUP.md
JENKINS_SETUP.md

#this is a test