.search-container label {
  font-size: 1.6rem;
}
.search-container input[type=checkbox] {
  cursor: pointer;
}
.no-clients-message {
  align-self: center;
}

.checkbox-container {
  display: flex;
  gap: 2rem;
}