.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 80%;
  padding: 1rem;
  font-size: 1.4rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group label {
  color: #9e9d9de3;
}

.input-group input[type="email"],
.input-group input[type="password"] {
  border: none;
  border-bottom: 1px solid #9e9d9d;
  padding: 0.5rem;
  color: rgb(0, 0, 160);
}
.input-group input[type="email"]:focus,
.input-group input[type="password"]:focus {
  box-shadow: none; 
  background-color: transparent; 
  outline: none;
  border-bottom: 1px solid #000000;
}

.input-group input[type="checkbox"]{
  cursor: pointer;
}

.checkbox {
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

.sign-in-button{
  padding: 1rem 3rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  border: none;
  color: white;
  background-color: rgb(73, 73, 170);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.sign-in-button:hover {
  color: rgb(73, 73, 170);
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgb(73, 73, 170);
}

.forget-link {
  font-size: 1.2rem;
  color: #9e9d9de3;
  height: 70%;
  text-decoration: underline;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.forget-link:hover{
  color: rgb(73, 73, 170);
}

.error-message {
  color: red;
  font-size: 1rem;
}

