.HomePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  gap: 2rem;
  padding: 3rem 6rem;
  align-items: center;
}

.greet-container {
  width: 100%;
  max-width: 1400px;
  height: auto;
  padding: 2rem 0;
  padding-left: 2rem;
}
.greet-container h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #EE3124;
  margin-bottom: 0.8rem;
  letter-spacing: -1px;
  line-height: 1.05;
}
.greet-container h2 {
  font-size: 1.5rem;
  color: #333333;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.greet-container h3 {
  font-size: 1.2rem;
  color: #666666;
  font-weight: 400;
}

.operations-container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operations-box-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  
  padding: 0;
}

.operations-box-container .operation-box {
  min-height: 140px;
  max-height: 160px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.HomePage .greet-container, .HomePage .operations-box-container {
  opacity: 0; 
  animation: fadeIn 1.5s ease-in-out forwards; 
}


.HomePage .operations-box-container {
  animation-delay: 0.5s; 
}


